@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
/* ------------ base ------------ */
body, html {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.5;
  overflow-x: hidden;
}
body.season2 {
  background: #FEFAEF;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
}

*:hover {
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}

h1 {
  font-family: 'impact', "source-han-sans-traditional", 'Helvetica', sans-serif;
  font-weight: 900;
  font-size: 4em;
}

h2 {
  font-size: 40px;
  line-height: 1.15;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}
body.season2 h2 {
  color: #6E540B;
  font-size: 40px;
}
@media only screen and (max-width: 767px) {
  body.season2 h2 {
    font-size: 36px;
  }
}

h3 {
  line-height: 1.2;
  font-weight: 600;
  color: #4A4A4A;
  font-size: 32px;
}
body.season2 h3 {
  font-size: 26px;
  font-weight: normal;
}
body.season2 h3 span {
  background-image: -webkit-linear-gradient(rgba(253, 230, 137, 0) 64%, #fde689 65%);
  background-image: -o-linear-gradient(rgba(253, 230, 137, 0) 64%, #fde689 65%);
  background-image: linear-gradient(rgba(253, 230, 137, 0) 64%, #fde689 65%);
}

h4 {
  color: #666;
  line-height: 1.3;
  font-weight: normal;
}
body.season2 h4 {
  color: #6E540B;
}

h6 {
  font-size: 19px;
  color: #666;
}

p, li {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 0;
  color: #4A4A4A;
  line-height: 1.9;
  letter-spacing: .05em;
}

body.season2 p a {
  color: #b08a08;
}
body.season2 p a:hover, body.season2 p a:focus {
  color: #fff;
  background: #b08a08;
}

a {
  color: #FFCE00;
  -moz-transition: all, 0.5s, ease-in;
  -o-transition: all, 0.5s, ease-in;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}
a:hover, a:focus {
  text-decoration: underline;
}
body.season2 a {
  color: #b08a08;
}
body.season2 a:hover {
  text-decoration: underline;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul, li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  list-style: none;
}

.close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 9999;
  cursor: pointer;
  top: 12px;
  right: 12px;
  background: #F7F7F7;
}
.close:hover {
  background-color: transparent;
  background-color: rgba(74, 74, 74, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#334A4A4A,endColorstr=#334A4A4A);
  zoom: 1;
}
.close:hover::before, .close:hover::after {
  background: #4A4A4A;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #4A4A4A;
}
.close::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal h4 {
  margin: 20px 0;
}

p.note {
  font-size: 12px;
}

a.btn.btn-fb {
  display: block;
  background: #3B5998;
  border-radius: 25px;
  line-height: 40px;
  height: 40px;
  color: #fff;
  padding: 0 30px;
  margin: 0 auto;
  width: 200px;
  margin-top: 20px;
}

.tab-container {
  padding: 10px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.table-responsive {
  border: 0;
  margin-bottom: 0;
}

.table {
  color: #666;
  font-weight: normal;
  text-align: center;
  border: 0;
  margin-bottom: 0;
  color: #666;
  padding: 10px;
}
.table tbody {
  border: 0;
}
.table th {
  text-align: center;
  font-weight: normal;
}
.table th:first-of-type, .table td:first-of-type {
  text-align: left;
}
.table th:nth-last-of-type(1), .table th:nth-last-of-type(2), .table th:nth-last-of-type(3), .table td:nth-last-of-type(1), .table td:nth-last-of-type(2), .table td:nth-last-of-type(3) {
  text-align: right;
}

.modal-content {
  width: 90%;
  margin: 0 auto;
}
.modal-content img {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

body.season2 .btn-default {
  background-color: transparent;
  border: 1px solid #b08a08;
  color: #b08a08;
}
body.season2 .btn-default:hover, body.season2 .btn-default:active, body.season2 .btn-default:focus, body.season2 .btn-default.active, body.season2 .btn-default.dropdown-toggle, body.season2 .btn-default.disabled {
  color: #fff;
  background-color: #b08a08;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #FFCE00;
  color: #111;
}

#navigation {
  background: #111;
  border: none;
  padding: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
}
#navigation li {
  font-size: 16px;
}
#navigation .logo {
  font-family: 'Roboto Condensed', 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-top: 10px;
  letter-spacing: -.03em;
}
#navigation .logo a {
  text-decoration: none;
}
#navigation .logo a:hover {
  color: #FFCE00;
}
#navigation .col-sm-9 {
  padding: 0;
}
#navigation #main-nav {
  z-index: 999;
  position: absolute;
  width: 100%;
  background: #111;
}
#navigation .navbar {
  border: none;
  margin: 0;
  min-height: inherit;
}
#navigation .nav > li {
  border: none;
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  -webkit-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
}
#navigation .nav > li > a {
  font-size: 16px;
  letter-spacing: .1em;
  line-height: 20px;
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  -webkit-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
  color: #FFCE00;
  border-left: 1px solid #111;
  padding: 15px 13px;
}
#navigation .nav > li > a:hover, #navigation .nav > li > a:focus {
  background: #FFCE00;
  color: #111;
  text-decoration: none;
}
#navigation .nav > li.fb {
  padding: 0;
}
#navigation .nav > li.fb span {
  display: none;
}
#navigation .nav > li.fb > a {
  background: #FFCE00;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 30px;
  color: #111;
  text-align: center;
  padding: 0;
  margin: 10px;
}
#navigation .nav > li.fb > a i {
  line-height: 30px;
}
#navigation .nav > li.active {
  background: #fff;
}
#navigation .dropdown .dropdown-menu {
  border: 0;
  border-radius: 0;
  background: #FFCE00;
  padding: 0;
}
#navigation .dropdown .dropdown-menu > li {
  padding: 0;
}
#navigation .dropdown .dropdown-menu > li a {
  padding: 16px 26px;
}
@media only screen and (max-width: 767px) {
  #navigation .logo {
    margin: 4px 0;
    line-height: 28px;
  }
  #navigation .nav > li a.dropdown-toggle:hover, #navigation .nav > li a.dropdown-toggle:focus {
    border-bottom: 1px solid #FFE266;
  }
  #navigation .nav > li.active {
    background: #fff;
  }
  #navigation .nav > li.fb span {
    display: block;
  }
  #navigation .nav > li.fb i {
    display: none;
  }
  #navigation .nav > li.fb > a {
    margin: 0;
    width: auto;
    height: auto;
    background: none;
    border-radius: 0;
    text-align: left;
    color: #FFCE00;
    padding: 16px;
  }
  #navigation .nav > li.fb > a:hover {
    color: #111;
  }
  #navigation .nav > li > a {
    font-size: 16px;
    padding: 16px;
    border-left: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  #navigation {
    padding: 10px 0;
    font-size: 16px;
  }
  #navigation .col-sm-8 {
    padding: 0;
  }
  #navigation .navbar-header {
    margin-top: -35px;
    padding: 0 15px;
  }
  #navigation .navbar-toggle {
    padding: 6px 15px;
    margin: -6px -18px 0;
    font-size: 1.2em;
    color: #FFCE00;
  }
  #navigation .col-sm-3 {
    z-index: 999;
    width: 60%;
  }
}
body.season2 #navigation {
  background: #b08a08;
  background-image: -webkit-linear-gradient(135deg, #b08a08, #fde689, #b08a08);
  background-image: -o-linear-gradient(135deg, #b08a08, #fde689, #b08a08);
  background-image: linear-gradient(135deg, #b08a08, #fde689, #b08a08);
}
body.season2 #navigation #main-nav {
  background: transparent;
}
body.season2 #navigation .nav > li > a {
  color: #111;
  border-left: 0;
}
body.season2 #navigation .nav > li > a:hover, body.season2 #navigation .nav > li > a:focus {
  background: #111;
  color: #fde689;
}
body.season2 #navigation .nav > li.fb > a {
  background: #111;
  color: #fde689;
}
body.season2 #navigation h2.logo a {
  color: #111;
  text-shadow: 0 0 3px #fde689, 0 0 10px #fde689;
}
body.season2 #navigation .dropdown .dropdown-menu {
  background: #111;
}
body.season2 #navigation .dropdown .dropdown-menu > li > a {
  color: #fde689;
}
body.season2 #navigation .dropdown .dropdown-menu > li > a:hover, body.season2 #navigation .dropdown .dropdown-menu > li > a:focus {
  background: #fde689;
  color: #111;
}
body.season2 #navigation .nav .open > a, body.season2 #navigation .nav .open > a:hover, body.season2 #navigation .nav .open > a:focus {
  background: #111;
  color: #fde689;
}
@media only screen and (max-width: 767px) {
  body.season2 #navigation #main-nav {
    background-image: -webkit-linear-gradient(135deg, #b08a08 -20%, #fde689 20%, #b08a08);
    background-image: -o-linear-gradient(135deg, #b08a08 -20%, #fde689 20%, #b08a08);
    background-image: linear-gradient(135deg, #b08a08 -20%, #fde689 20%, #b08a08);
  }
  body.season2 #navigation .navbar-toggle {
    color: #111;
  }
  body.season2 #navigation .nav > li.fb > a {
    background: transparent;
    color: #111;
  }
}

#section-1 {
  background: url("../images/tozzi_banner.jpg") no-repeat center center;
  box-sizing: border-box;
  text-align: center;
  height: 300px;
  background-size: cover;
}
#section-1 h1 {
  color: #FFCE00;
  line-height: 1;
}
#section-1 h2 {
  color: #111;
  background: #FFCE00;
  font-size: 1.25em;
  display: inline-block;
  padding: 7px 10px;
  margin-top: 0;
}
#section-1 h2.logo {
  margin-top: 50px;
  background: none;
  display: block;
}
#section-1 h2.logo img {
  width: 150px;
}
@media only screen and (min-width: 1200px) {
  #section-1 .container {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 768px) {
  #section-1 {
    height: 260px;
    font-size: .8em;
  }
}
@media only screen and (max-width: 320px) {
  #section-1 {
    height: 220px;
    font-size: .7em;
  }
  #section-1 h2 {
    letter-spacing: .06em;
  }
}
body.season2 #section-1 {
  background: url("../images/tozzi_banner_s2.jpg") no-repeat center center;
  font-size: .65em;
  height: 360px;
}
body.season2 #section-1 h2.logo {
  margin-top: 170px;
}
@media only screen and (max-width: 768px) {
  body.season2 #section-1 {
    height: 300px;
    font-size: .7em;
  }
  body.season2 #section-1 h2.logo {
    margin-top: 140px;
  }
}

#traders #section-2 {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  -moz-transition: all, 0.5s, ease-in;
  -o-transition: all, 0.5s, ease-in;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}
#traders #section-2 .container {
  overflow: hidden;
  height: 160px;
}
#traders #section-2.affix {
  top: 0px;
  z-index: 99;
  padding-top: 0;
  padding-bottom: 10px;
  box-shadow: 0 5px 5px rgba(74, 74, 74, 0.2) !important;
  width: 100%;
}
#traders #section-2.affix .container {
  margin-bottom: 0 !important;
  height: 130px;
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  #traders #section-2.affix .container {
    height: 110px;
  }
}
@media only screen and (max-width: 320px) {
  #traders #section-2.affix .container {
    height: 102px;
  }
}
#traders #section-2.affix .content .slick-prev, #traders #section-2.affix .content .slick-next {
  top: 30px;
}
#traders #section-2 .content {
  margin: 0 auto;
  width: 92%;
}
#traders #section-2 .content .slider a {
  color: #666;
}
#traders #section-2 .content .slider a:active, #traders #section-2 .content .slider a:focus {
  outline: 0;
}
#traders #section-2 .content .slider a img:active {
  box-shadow: 0 0 0 4px #FFCE00;
}
#traders #section-2 .content .slider img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  display: inline-block;
}
#traders #section-2 .content .slider img.active {
  box-shadow: 0 0 0 4px #FFCE00;
}
#traders #section-2 .content .slider span {
  display: block;
  line-height: 1.5em;
  margin: 5px 0;
}
#traders #section-2 .content .slick-dots {
  display: none !important;
}
#traders #section-2 .content .slick-initialized .slick-slide {
  text-align: center;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 6px;
}
#traders #section-2 .content .slick-prev, #traders #section-2 .content .slick-next {
  background: #F7F7F7;
  width: 40px;
  height: 40px;
  top: 40px;
  z-index: 99;
}
#traders #section-2 .content .slick-prev::before, #traders #section-2 .content .slick-next::before {
  color: #111;
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
#traders #section-2 .content .slick-prev {
  left: -40px;
}
#traders #section-2 .content .slick-prev::before {
  content: "\f104";
}
#traders #section-2 .content .slick-next {
  right: -40px;
}
@media only screen and (max-width: 480px) {
  #traders #section-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  #traders #section-2 .content .slider .slick-prev, #traders #section-2 .content .slider .slick-next {
    top: 30px;
  }
  #traders #section-2 .content .slider img {
    width: 75px;
    height: 75px;
  }
}
@media only screen and (max-width: 320px) {
  #traders #section-2 .content .slider img {
    width: 70px;
    height: 70px;
  }
}

.season2#traders #section-2 .content .slider .slick-slide img.active.kaede {
  box-shadow: 0 0 2px 1px #da3600, 0 0 6px 0 #FFCE00, 0 0 10px 1px #da3600, 0 0 13px #FFCE00;
}

#section-2, #section-2-5, #section-3, #section-3-5, #section-4, #section-5, #section-6, #section-7, #section-7-5, #section-7-2, #section-7-1, #section-8 {
  padding: 70px 0;
}
#section-2 h2, #section-2-5 h2, #section-3 h2, #section-3-5 h2, #section-4 h2, #section-5 h2, #section-6 h2, #section-7 h2, #section-7-5 h2, #section-7-2 h2, #section-7-1 h2, #section-8 h2 {
  text-align: center;
  margin-bottom: 20px;
}
#section-2 h3, #section-2-5 h3, #section-3 h3, #section-3-5 h3, #section-4 h3, #section-5 h3, #section-6 h3, #section-7 h3, #section-7-5 h3, #section-7-2 h3, #section-7-1 h3, #section-8 h3 {
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  #section-2, #section-2-5, #section-3, #section-3-5, #section-4, #section-5, #section-6, #section-7, #section-7-5, #section-7-2, #section-7-1, #section-8 {
    padding: 40px 0;
  }
  #section-2 h2, #section-2 h3, #section-2-5 h2, #section-2-5 h3, #section-3 h2, #section-3 h3, #section-3-5 h2, #section-3-5 h3, #section-4 h2, #section-4 h3, #section-5 h2, #section-5 h3, #section-6 h2, #section-6 h3, #section-7 h2, #section-7 h3, #section-7-5 h2, #section-7-5 h3, #section-7-2 h2, #section-7-2 h3, #section-7-1 h2, #section-7-1 h3, #section-8 h2, #section-8 h3 {
    margin-bottom: 10px;
  }
}
#section-2 .row, #section-2-5 .row, #section-3 .row, #section-3-5 .row, #section-4 .row, #section-5 .row, #section-6 .row, #section-7 .row, #section-7-5 .row, #section-7-2 .row, #section-7-1 .row, #section-8 .row {
  margin: 0;
}

#section-2-5, #section-3-5, #section-5, #section-7 {
  background: #F7F7F7;
}
#section-2-5 .row, #section-3-5 .row, #section-5 .row, #section-7 .row {
  margin: 0;
}
.season2 #section-2-5, .season2 #section-3-5, .season2 #section-5, .season2 #section-7 {
  background: #fff;
}

#section-2 {
  padding: 30px 0;
  font-size: 18px;
}
#section-2 a {
  display: block;
  padding: 2px 10px;
}
#section-2 .list {
  margin-bottom: 20px;
}

#section-2-5 {
  padding: 20px 0;
}
#section-2-5 * {
  transition: none;
}
#section-2-5 a {
  color: #4A4A4A;
  text-decoration: underline;
  display: block;
}
#section-2-5 a:hover {
  background: #4A4A4A;
  color: #FFCE00;
}

#section-3 {
  padding-top: 0;
}
#section-3 .trader-photo {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #section-3 .trader-photo {
    width: 150px;
    height: 150px;
  }
}
#section-3 h4 {
  font-size: 1.75em;
  line-height: 36px;
  margin-bottom: 10px;
}
#section-3 h4 span, #section-3 h4 a.btn-fb {
  display: inline-block;
  vertical-align: top;
}
#section-3 a.btn-fb.player {
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  font-size: 19px;
}
#section-3 a.btn-interview {
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  margin-left: 10px;
  font-size: 13px;
  background: #111;
  border-radius: 18px;
  margin: 0 0 0 10px;
  vertical-align: top;
  color: #fde689;
}
#section-3 a.btn-interview:hover, #section-3 a.btn-interview:active, #section-3 a.btn-interview:focus {
  color: #FFCE00;
}
#ranking #section-3 {
  padding-top: 30px;
}
@media only screen and (max-width: 767px) {
  #section-3 h4 {
    text-align: center;
  }
  #section-3 .col-xs-12 img {
    margin: 0 auto;
  }
}
.season2 #section-3 {
  background: #fffffe;
  padding-top: 70px;
}
.season2.kaede #section-3 .container {
  padding: 0;
}
.season2.kaede #section-3 img {
  box-shadow: 0 0 2px 1px #da3600, 0 0 6px 0 #FFCE00, 0 0 10px 1px #da3600, 0 0 13px #FFCE00, 0 0 20px 1px #da3600;
}
.season2.kaede #section-3 .col-sm-8 {
  text-align: center;
  padding: 0;
}
.season2.kaede #section-3 .col-sm-8 .kaede-img {
  max-width: 600px;
  height: 460px;
  margin: 0 auto;
  padding-top: 105px;
  background: url("../images/kaede-bg.jpg") top center no-repeat;
}
.season2.kaede #section-3 .col-sm-8 .kaede-img .trader-photo {
  margin: 0px auto;
  width: 260px !important;
  height: 260px;
  box-shadow: 0 0 2px 1px #da3600, 0 0 6px 0 #FFCE00, 0 0 10px 1px #da3600, 0 0 13px #FFCE00, 0 0 20px 1px #da3600;
}
.season2.kaede #section-3 .col-sm-8 h4 {
  color: #da3600;
  text-align: center;
}
.season2.kaede #section-3 .col-sm-8 p {
  text-align: left;
}
.season2#traders #section-3 {
  padding-top: 0;
}

.non-semantic-protector {
  position: relative;
  z-index: 1;
  height: 50px;
  margin-top: -40px;
}
.non-semantic-protector .ribbon {
  font-size: 16px !important;
  width: 100px;
  position: relative;
  background: orange;
  color: #fff;
  text-align: center;
  padding: 6px 30px;
  margin: 2em auto 3em;
}
.non-semantic-protector .ribbon:before, .non-semantic-protector .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -10px;
  border: 15px solid #ff8400;
  z-index: -1;
}
.non-semantic-protector .ribbon:before {
  left: -20px;
  border-right-width: 15px;
  border-left-color: transparent;
}
.non-semantic-protector .ribbon:after {
  right: -20px;
  border-left-width: 15px;
  border-right-color: transparent;
}
.non-semantic-protector .ribbon .ribbon-content:before, .non-semantic-protector .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #da3600 transparent transparent transparent;
  bottom: -10px;
}
.non-semantic-protector .ribbon .ribbon-content:before {
  left: 0;
  border-width: 10px 0 0 10px;
}
.non-semantic-protector .ribbon .ribbon-content:after {
  right: 0;
  border-width: 10px 10px 0 0;
}

.market-list {
  padding: 10px 0;
  margin: 10px 0;
}
.market-list span.date {
  padding: 4px;
  display: inline-block;
  padding-left: 30px;
}
.market-list span.date:before {
  content: "\f201";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 4px;
  font-size: 16px;
  position: absolute;
  left: 20px;
}
.market-list p {
  padding-left: 30px;
}
.season2 .market-list {
  font-size: 17px;
  line-height: 1.9;
  padding: 0 0 8px;
  margin: 0 0 16px;
  border-bottom: 1px solid #F7F7F7;
}
.season2 .market-list p {
  padding-left: 0;
}
.season2 .market-list span.date {
  color: #b08a08;
}

.stock-chart {
  border: 1px solid #F7F7F7;
  padding: 10px;
  height: 300px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.season2 .stock-chart {
  border-color: #fde689;
  background: rgba(255, 255, 255, 0.75);
}

.expound {
  position: relative;
  color: #666;
}
.expound li {
  font-size: 1.25em;
  line-height: 1.8;
  padding-left: 30px;
}
.expound li span {
  font-size: 12px;
}
.expound li:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 4px;
  font-size: 16px;
  position: absolute;
  left: 20px;
}

.history {
  margin: 20px auto;
}
.history .history-list {
  font-size: 17px;
  line-height: 1.9;
}
.history .results span {
  display: block;
}
.history h4 span > img {
  width: 36px !important;
  padding: 0 5px;
  vertical-align: text-top;
}
.history h6 {
  font-weight: normal;
}
.history span.more {
  font-size: 15px;
  vertical-align: middle;
  position: relative;
}
.history span.more a {
  padding: 2px 4px;
  text-decoration: underline;
  padding-left: 27px;
}
.history span.more a:before {
  content: "\f0a4";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 4px;
  font-size: 16px;
  position: absolute;
  left: 7px;
}
.history span.more a:hover {
  background: #b08a08;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .history h6 {
    text-align: center;
  }
  .history h6 a {
    display: inline-block;
  }
}

.season2 .expound {
  margin-bottom: 30px;
}
.season2 .expound h3 {
  margin-top: -4px;
}

.expound-list {
  font-size: 17px;
  line-height: 1.9;
  padding-bottom: 8px;
  margin: 16px 0 30px;
  border-bottom: 1px solid #F7F7F7;
}
.expound-list .date {
  margin-right: 10px;
  color: #b08a08;
}
.expound-list .statement-list a {
  padding: 2px 4px;
  position: relative;
  text-decoration: underline;
  padding-left: 27px;
  cursor: pointer;
}
.expound-list .statement-list a:before {
  content: "\f0c6";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 4px;
  font-size: 16px;
  position: absolute;
  left: 7px;
}
.expound-list .statement-list a:hover {
  background: #b08a08;
  color: #fff;
  text-decoration: none;
}
.expound-list .detail {
  display: block;
}

#section-5 h5 {
  padding: 0 4px;
  color: #666;
  border-bottom: 1px solid #666;
}
#section-5 .statement-list ul {
  display: inline-block;
  padding: 0 15px 30px;
}
#section-5 .statement-list li {
  display: inline-block;
  width: 120px;
}
#section-5 .statement-list li img {
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  #section-5 .statement-list ul {
    padding: 0 6px 12px;
  }
  #section-5 .statement-list li {
    width: 80px;
  }
}
@media screen and (max-width: 375px) {
  #section-5 .statement-list li {
    width: 70px;
  }
}
@media only screen and (max-width: 320px) {
  #section-5 .statement-list li {
    width: 57px;
  }
}

#section-7-1, #section-7-2 {
  background: #fff;
}

#section-7-5 {
  background: #fff;
}
#section-7-5 img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
#section-7-5 .col-md-6 {
  padding: 20px 0;
  min-height: 120px;
}
#section-7-5 .col-md-6:nth-of-type(odd) {
  clear: both;
}
#section-7-5 .player span {
  font-size: 1.25em;
  padding: 0 5px;
}
#section-7-5 .player span:nth-of-type(1):after {
  content: "/";
  padding-left: 10px;
}
#section-7-5 .player-evaluation {
  padding: 0 10px;
}
#section-7-5 p {
  font-size: 1.25em;
  padding: 2px 0 10px 40px;
}
@media only screen and (max-width: 480px) {
  #section-7-5 .col-md-6 {
    min-height: 0;
    height: auto;
    padding: 10px 0;
  }
}

#section-8 .comments-container {
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 480px) {
  #section-8 .comments-container {
    width: 100%;
  }
}

footer {
  background: #111;
  text-align: center;
  font-size: 1.25em;
  color: #FFCE00;
  line-height: 100px;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.2em;
  }
}
#report .report-anchor {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid gray;
}
#report #section-3 {
  background: #F7F7F7;
  padding: 20px 0;
}
#report #section-3 .container {
  height: auto;
}
#report #section-3 .container.report-list {
  padding: 20px 0;
}
#report #section-3 .container.report-list a {
  display: block;
  font-size: 1em;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
}
#report #section-3 .container.report-list a span {
  display: block;
  padding: 0 4px;
}
#report #section-3 .container.report-list a span.date {
  font-size: 1em;
  color: #666;
  display: inline-block;
}
#report #section-3 .container.report-list a span.title {
  color: #4A4A4A;
  font-size: 1.2em;
}
#report #section-3 .container.report-list a:hover {
  color: #4A4A4A;
  text-decoration: underline;
}
#report #section-4 {
  background: #fff;
  padding: 0 0 80px;
}
#report #section-4 h2 {
  font-size: 30px;
  line-height: 1.2;
  color: #4A4A4A;
  margin-bottom: 0;
  text-align: center;
}
#report #section-4 h2 span {
  font-size: 14px;
  display: block;
  color: #666;
}
#report #section-4 h3 {
  font-size: 24px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
}
#report #section-4 p {
  margin-bottom: 20px;
}
#report #section-4 p a {
  color: #666;
  text-decoration: underline;
}
#report #section-4 p a:hover {
  text-decoration: none;
}
#report #section-4 img {
  margin: 10px auto;
}
#report #section-4 img:nth-of-type(1) {
  width: 380px;
}
#report #section-4 .Tozzi-comments {
  position: relative;
  color: #666;
  margin-bottom: 20px;
}
#report #section-4 .Tozzi-comments li {
  font-size: 16px;
  line-height: 1.8;
  padding-left: 30px;
}
#report #section-4 .Tozzi-comments li span {
  font-size: 12px;
}
#report #section-4 .Tozzi-comments li:before {
  content: "\f046";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 4px;
  font-size: 16px;
  position: absolute;
  left: 10px;
}

#ranking h2.main-title {
  font-size: 36px;
  letter-spacing: 0;
  text-align: center;
}
#ranking h3 img, #ranking h2 img {
  width: 36px;
  margin-left: 5px;
  vertical-align: text-top;
}
#ranking h3 span, #ranking h2 span {
  vertical-align: middle;
  background: transparent;
}
#ranking table, #ranking th, #ranking td {
  text-align: center !important;
  font-size: 15px;
}
#ranking th:nth-of-type(1) {
  width: 50px;
}
#ranking th:nth-of-type(2) {
  width: 120px;
}
#ranking .ranking {
  margin-bottom: 30px;
}
#ranking p.note {
  margin-top: -30px;
  margin-bottom: 50px;
}

.season2 .tab-container {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  padding: 10px;
  border: 0;
  box-shadow: 0 2px 2px rgba(176, 138, 8, 0.3);
  margin-bottom: 20px;
}
.season2 .table > thead > tr > th {
  border-bottom: 1px solid #fde689;
}
.season2 .table > tbody > tr > td {
  border-bottom: 1px solid #F7F7F7;
}
.season2 .table td, .season2 .table th {
  vertical-align: middle !important;
}

.ranking-all .tab-container {
  background: rgba(254, 250, 239, 0.3);
}
.ranking-all a:hover {
  background: none;
  color: #b08a08;
}
.ranking-all .table.ranking th, .ranking-all .table.ranking td {
  text-align: center !important;
}
.ranking-all .table.ranking tr img {
  width: 40px;
  height: 40px;
}
.ranking-all .table.ranking tr img:hover {
  border: 2px solid #b08a08;
}

body.season2 #section-4 {
  padding-bottom: 80px;
}
body.season2 #section-4 h2 span:nth-of-type(2) {
  font-size: 18px;
  display: block;
  margin-top: 0;
}

.market-all .market-single {
  border-bottom: 1px solid #b08a08;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.market-all p {
  font-size: 17px;
}
.market-all .trader-single {
  text-align: center;
}
.market-all .trader-single img {
  width: 70px;
  height: 70px;
}
.market-all .trader-single span {
  display: inline-block;
  font-size: 15px;
  margin: 4px 0;
  padding: 4px 0;
  width: 70px;
  background: rgba(176, 138, 8, 0.6);
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .market-all .trader-single {
    text-align: left;
  }
  .market-all .trader-single span {
    text-align: center;
  }
}

.market-article {
  padding: 0 15px;
  text-align: center;
}
.market-article .row {
  background: rgba(253, 230, 137, 0.2);
  padding-top: 50px;
  padding-bottom: 50px;
}
.market-article ul li {
  line-height: 1.2;
}
