@charset 'utf-8';
@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
//@import 'base/css3-mixins';

/* ------------ base ------------ */
body, html {
	min-height: 100%!important;
	height: 100%;
	padding: 0;
	margin: 0;
	
}
body {
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
	word-wrap: break-word;
	word-break: normal;
	line-height: 1.5;
	overflow-x: hidden;
	&.season2 {
		background: $rice;
	}
}

//basic style
h1, h2, h3, h4, h5, h6 {
	
	line-height: 1.8;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
}
*:hover {
	@include transition(color, .5s, ease-in);
}
h1 {
	font-family: 'impact', "source-han-sans-traditional", 'Helvetica', sans-serif;
	font-weight: 900;
	font-size: 4em;
//	letter-spacing: .115em;
}
h2 {
	letter-spacing: .09em;
	font-size: 40px;
    line-height: 1.15;
	body.season2 & {
		color: $dark-gold;
        font-size: 36px;
	}
}
h3 {
	line-height: 1.2;
	font-weight: 600;
	color: $dark-gray;
	font-size: 32px;
	body.season2 & {
		span {
			background-image: -webkit-linear-gradient(rgba($light-gold, 0) 64%, $light-gold 65%);
			background-image: -o-linear-gradient(rgba($light-gold, 0) 64%, $light-gold 65%);
			background-image: linear-gradient(rgba($light-gold, 0) 64%, $light-gold 65%);
		}
	}
}
h4 {
	color: $gray;
	line-height: 1.3;
	font-weight: bold;
}
p, li {
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 0;
	color: $dark-gray;
	line-height: 1.9;
	letter-spacing: .05em;
//	text-align: justify;
}
p {
    a {
        body.season2 & {
            color: $gold;
            &:hover, &:focus {
                color: $white;
                background: $gold;
            }
        }
    }
}
a {
	color: $primary-color;
	@include transition(all, .5s, ease-in);
	&:hover, &:focus { 
		text-decoration: underline;
//		color: $black;
//		background: $primary-color;
	}
    body.season2 & {
        color: $gold;
        &:hover {
            text-decoration: underline;
        }
    }
}
hr {
}
.clearfix {
	@include clearfix;
}
ul, li {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
	list-style: none;
}
@include respond-to (normal-mobile){
	p {
		font-size: 16px;
	}
}
.close {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	opacity: 1;
	overflow: hidden;
	display: inline-block;
	z-index: 9999;
	cursor: pointer;
	top: 12px;
	right: 12px;
	background: $light-gray;
	&:hover {
		@include transparent($dark-gray,.2);
		&::before, &::after {
			background: $dark-gray;
		}
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 1px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: $dark-gray;
	}
	&::before {
		@include transform(rotate(45deg));
	}
	&::after {
		@include transform(rotate(-45deg));
	}
}
.modal {
	h4 {
		margin: 20px 0;
	}
}
p.note {
    font-size: 12px;
}
a.btn.btn-fb {
	display: block;
	background: #3B5998;
	border-radius: 25px;
	line-height: 40px;
	height: 40px;
	color: $white;
	padding: 0 30px;
	margin: 0 auto;
	width: 200px;
	margin-top: 20px;
}
.tab-container {
	padding: 10px;
	background: $white;
	border-radius: 6px;
	border: 1px solid #ddd;
}
.table-responsive {
	border: 0;
	margin-bottom: 0;
}
.table {
//	background: $white;
	color: $gray;
	font-weight: normal;
	text-align: center;
	border: 0;
	margin-bottom: 0;
	color: $gray;
	padding: 10px;
	tbody {
		border: 0;
	}
	th {
		text-align: center;
		font-weight: normal;
	}
	tr {
	}
	th, td {
		&:first-of-type {
			text-align: left;
//			width: 40px;
		}
		&:nth-of-type(2) {
//			width: 40px;
		}
		&:nth-last-of-type(1), &:nth-last-of-type(2), &:nth-last-of-type(3) {
			text-align: right;
//			width: 80px;
		}
	}
}
.modal-content {
	width: 90%;
	margin: 0 auto;
	img {
		margin: 0 auto;
	}
	@include respond-to (only-device){
		width: 100%;
	}
	
}
//btn style
//.btn {
//	span {
//		padding: 0 5px;
//	}
//	&.active {
//		box-shadow: none;
//	}
//}
//.btn-xs, .btn-group-xs > .btn {
//	padding: 3px 6px;
//	@include respond-to (xxs-mobile){
//		padding: 1px 3px;
//	}
//}
//.btn-group .btn + .btn, 
//.btn-group .btn + .btn-group, 
//.btn-group .btn-group + .btn, 
//.btn-group .btn-group + .btn-group {
//	margin-left: 1px;
//}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
.btn-default {
    body.season2 & {
        background-color: transparent;
        border: 1px solid $gold;
        color: $gold;
        &:hover, &:active, &:focus, &.active, &.dropdown-toggle, &.disabled {
//    		border: 0;
    		color: $white;
    		background-color: $gold;
    	}
    }
    
}
//.btn-primary {
//	background-color: transparent;
//	border: 0;
//	color: $white;
//	&:hover, &:active, &:focus, &.active, &.dropdown-toggle, &.disabled {
//		border: 0;
//		color: $white;
//		background-color: transparent;
//	}
//	&:active {
//		&:hover, &:focus {
//			border: 0;
//			color: $white;
//			background-color: transparent;
//		}
//	}
//	&.dropdown-toggle {
//		.open & {
//			border: 0;
//			color: $white;
//			background-color: transparent;
//			&:hover, &:focus, &.focus {
//				border: 0;
//				color: $white;
//				background-color: transparent;
//			}
//		}
//	}
//	&.disabled {
//		background-color: transparent;
//		border: 0;
//		&:hover, &:focus, &.focus, &:active, &.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled].focus, &[disabled]:active, &[disabled].active {
//			border: 0;
//			background-color: transparent;
//		}
//	}
//	@include respond-to (normal-mobile){
//		font-size: 12px;
//	}
//}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background: $yellow;
	color: $black;
}
#navigation {
	background: $black;
	border: none;
	padding: 0;
	z-index: 999;
	width:100%;
	height: 50px;
	li {
		font-size: 16px;
	}
//	position: absolute;
	.logo {
		font-family: 'Impact', "Roboto", 'Helvetica', sans-serif;
		letter-spacing: 0.01em;
		line-height: 54px;
		font-weight: normal;
		font-size: 28px;
		margin: 0;
	}
	.col-sm-9 {
		padding: 0;
	}
	#main-nav {
//		background: $dark-gray;
		z-index: 999;
		position: absolute;
		width: 100%;
		background: $black;
	}
	.navbar {
		border: none;
		margin: 0;
		min-height: inherit;
	}
	.nav > li {
		border: none;
		@include transition(all ,.5s, ease-in-out);
		> a {
			font-size: 16px;
			letter-spacing: .1em;
			line-height: 20px;
			@include transition(all ,.5s, ease-in-out);
			color: $primary-color;
			border-left: 1px solid $black;
			&:hover, &:focus {
				background: $yellow;
				color: $black;
			}
		}
		&.fb {		
			padding: 0;
			span {
				display: none;
			}
			> a {
				background: $yellow;
				border: 0;
				width: 30px;
				height: 30px;
				border-radius: 30px;
				line-height: 30px;
				color: $black;
				text-align: center;
				padding: 0;
				margin: 10px;
				i {
					line-height: 30px;
				}
			}
		}
	}
	.nav > li.active {
		background: #fff;
	}
	.dropdown {
		.dropdown-menu {
			border: 0;
			border-radius: 0;
			background: $yellow;
			padding: 0;
			> li {
				padding: 0;
				a {
					padding: 16px 26px;
				}
			}
		}
		&.open {
			.dropdown-menu {
//				max-height: 200px;
//				opacity: 1;
			}
		}
	}
	@include respond-to (only-mobile){
		.logo {
			margin: 4px 0;
			line-height: 28px;
		}
		.nav > li {
			a.dropdown-toggle {
				&:hover, &:focus {
					border-bottom: 1px solid #FFE266;
				}
			}
			&.active {
				background: #fff;
			}
			&.fb {
				span {
					display: block;
				}
				i {
					display: none;
				}
				> a {
					margin: 0;
					width: auto;
					height: auto;
					background: none;
					border-radius: 0;
					text-align: left;
					color: $yellow;
					padding: 16px;
					&:hover {
						color: $black;
					}
				}
			}
			> a {
				font-size: 16px;
				padding: 16px;
				border-left: 0!important;
			}
		}
	}
	@include respond-to (only-mobile){
		padding: 10px 0;
		font-size: 16px;
		.col-sm-8 {
			padding: 0;
		}
		.navbar-header {
			margin-top: -35px;
			padding: 0 15px;
		}
		.navbar-toggle {
			padding: 6px 15px;
			margin: -6px -18px 0;
			font-size: 1.2em;
			color: $yellow;
		}
		.col-sm-3{
			z-index: 999;
			width: 60%;
		}
	}
	body.season2 & {
		background: $gold;
		background-image: -webkit-linear-gradient(135deg, $gold, $light-gold, $gold);
        background-image: -o-linear-gradient(135deg, $gold, $light-gold, $gold);
        background-image: linear-gradient(135deg, $gold, $light-gold, $gold);
		#main-nav {
			background: transparent;
//			background-image: -webkit-linear-gradient(left top, $gold, $light-gold);
//        background-image: -o-linear-gradient(left top, $gold, $light-gold);
//        background-image: linear-gradient(left top, $gold, $light-gold);
		}
		.nav {
			> li {
				> a {
					color: $black;
					border-left: 0;
					&:hover, &:focus {
						background: $black;
						color: $light-gold;
					}
				}
				&.fb {
//					background: $black;
					> a {
						background: $black;
						color: $light-gold;
					}
				}
			}
		}
		h2.logo {
			a {
				color: $black;
				text-shadow: 0 0 3px $light-gold, 0 0 10px $light-gold;
			}
		}
		.dropdown {
			.dropdown-menu {
				background: $black;
//				background-image: -webkit-linear-gradient(45deg, $gold -50% ,$light-gold);
//				background-image: -o-linear-gradient(45deg, $gold -50% ,$light-gold);
//        		background-image: linear-gradient(45deg, $gold -50% ,$light-gold);
				> li {
					> a {
						color: $light-gold;
						&:hover, &:focus {
							background: $light-gold;
							color: $black;
						}
					}
				}
			}
		}
		.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
			background: $black;
			color: $light-gold;
		}
		@include respond-to (only-mobile){
			#main-nav {
				background-image: -webkit-linear-gradient(135deg, $gold -20%, $light-gold 20%, $gold);
				background-image: -o-linear-gradient(135deg, $gold -20%, $light-gold 20%, $gold);
        		background-image: linear-gradient(135deg, $gold -20%, $light-gold 20%, $gold);
			}
			.navbar-toggle {
				color: $black;
			}
			.nav > li.fb > a {
				background: transparent;
				color: $black;
			}
		}
	}
}
#section-1 {
	background: url("../images/tozzi_banner.jpg") no-repeat center center;
	box-sizing: border-box;
	text-align: center;
	height: 300px;
	background-size: cover;
	h1 {
		color: $primary-color;
		line-height: 1;
	}
	h2 {
		&.logo {
			margin-top: 50px;
			background: none;
			img {
				width: 150px;
			}
		}
		color: $black;
		background: $primary-color;
		font-size: $xl-font;
		display: inline-block;
		padding: 0 10px;
		margin-top: 0;
	}
	@include respond-to (xlg-screen){
		.container {
			font-size: $xl-font;
		}
	}
	@include respond-to (xlg-screen){
	}
	@include respond-to (only-device){
		height: 260px;
		font-size: .8em;
	}
	@include respond-to (xxs-mobile){
		height: 220px;
		font-size: .7em;
		h2 {
			letter-spacing: .06em;
		}
	}
	body.season2 & {
		background: url("../images/tozzi_banner_s2.jpg") no-repeat center center;
		font-size: .65em;
		height: 360px;
		h2.logo {
			margin-top: 170px;
		}
		@include respond-to (only-device){
			height: 300px;
			font-size: .7em;
			h2.logo {
				margin-top: 140px;
			}
		}
		@include respond-to (xxs-mobile){

		}
	}
}
#traders #section-2 {
	background: $white;
//	padding-top: 20px;
//	padding-bottom: 20px;
	@include transition(all, .5s, ease-in);
	.container {
		overflow: hidden;
		margin-bottom: 20px;
		height: 160px;
//		padding-left: 0;
//		padding-right: 
	}
	&.affix {
		top: 0px;
		z-index: 99;
		padding-top: 0;
		padding-bottom: 10px;
		box-shadow: 0 5px 5px rgba($dark-gray, .2)!important;
		width: 100%;
		.container {
			margin-bottom: 0!important;
			height: 130px;
			@include respond-to (xs-mobile){
				height: 110px; 
			}
			@include respond-to (xxs-mobile){
				height: 102px; 
			}
		}
		.content {
			.slick-prev, .slick-next {
				top: 30px;
			}
//			.slider {
//				img {
//					&.active {
//						box-shadow:0 0 0 4px $light-gray;
//					}
//				}
//			}
		}
		
	}
	.content {
		margin: 0 auto;
		width: 92%;
		.slider {
			.slick-list {
//				padding-top: 10px;
			}
			a {
				color: $gray;
				&:active, &:focus {
					outline:0;
				}
				img {
					&:active {
						box-shadow:0 0 0 4px $yellow;
					}
				}
			}
			img {
				width: 86px;
				height: 86px;
				border-radius: 50%;
				display: inline-block;
				&.active {
					box-shadow:0 0 0 4px $yellow;
				}
			}
			span {
				display: block;
				line-height: $xxl-font;
				margin: 5px 0;
			}
		}
		.slick-dots {
			display: none!important;
		}
		.slick-initialized .slick-slide {
			text-align: center;
			background: $white;
			padding-top: 10px;
			padding-bottom: 6px;
//			padding-left: 5%;
//			padding-right: 5%;
		}
		.slick-prev, .slick-next {
			background: $light-gray;
			width: 40px;
			height: 40px;
			top: 40px;
			z-index: 99;
			&::before {
				color: $black;
				content: "\f105";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
			}
		}
		.slick-prev {
			left: -40px;
			&::before {
				content: "\f104";
			}
		}
		.slick-next {
			right: -40px;
		}
	}
	@include respond-to (normal-mobile){
		padding-top: 0;
		padding-bottom: 0;
	}
	@include respond-to (xs-mobile){
		.content {
			.slider {
				.slick-prev, .slick-next {
					top: 30px;
				}
				img {
					width: 78px;
					height: 78px;
				}
			}
		}
	}
	@include respond-to (xxs-mobile){
		.content {
			.slider {
				
				img {
					width: 70px;
					height: 70px;
				}
			}
		}
	}
}
#section-2, #section-2-5, #section-3, #section-3-5, #section-4, #section-5, #section-6, #section-7 ,#section-7-5, #section-8 {
	padding: 40px 0;
	h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	h3 {
		text-align: center;
		margin-bottom: 20px;
	}
	@include respond-to (normal-mobile){
		padding: 40px 0;
        h2, h3 {
            margin-bottom: 10px;
        }
	}
}
#section-2-5, #section-3-5, #section-5, #section-7 {
	background: $light-gray;
}
#section-2 {
	padding: 30px 0;
	font-size: 18px;
	a {
		display: block;
		padding: 2px 10px;
	}
    .list {
        margin-bottom: 20px;
    }
}
#section-2-5 {
	padding: 20px 0;
	* {
		transition: none;
	}
	a {
		color: $dark-gray;
		text-decoration: underline;
//		margin-bottom: 20px;
//		border-bottom: 1px solid #999;
		display: block;
		&:hover {
			background: $dark-gray;
			color: $yellow;
		}
	}
	
}
#section-3 {
	h4 {
		font-size: $xxxl-font;
		line-height: 36px;
		margin-bottom: 20px;
		span , a.btn-fb {
			display: inline-block;
			vertical-align: top;
		}
	}
	a.btn-fb {
		&.player {
			width: 36px;
			height: 36px;
			line-height: 36px;
			padding: 0;
			margin: 0;
			font-size: 19px;
		}
	}
	a.btn-interview {
		height: 36px;
		line-height: 36px;
		padding: 0 20px;
		margin-left: 10px;
		font-size: 13px;
		background: $black;
		border-radius: 18px;
		margin: 0 0 0 10px;
		vertical-align: top;
		&:hover, &:active, &:focus {
			color: $yellow;
		}
	}
	#ranking & {
		padding-top: 30px;
	}
	@include respond-to (normal-mobile){
		h4 {
			font-size: $xxl-font;
			text-align: center;
		}
		.col-xs-12 {
			img {
				width: 60%;
				margin: 0 auto;
			}
		}
	}
	.season2 & {
		background: $light-rice;
	}
}
#section-3-5 {
	.market-list {
		padding: 10px 0;
		margin: 10px 0;
		span.date {
			padding: 4px;
			display: inline-block;
			padding-left: 30px;
			&:before {
				content: "\f201";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				padding-right: 4px;
				font-size: 16px;
				position: absolute;
				left: 20px;
			}
		}
		p {
			padding-left: 30px;
		}
	}
}
#section-4 {
//	background: $light-gray;
}
.stock-chart {
	border: 1px solid $light-gray;
	padding: 10px;
	height: 300px;
	margin-bottom: 20px;
	.season2 & {
		border-color: $light-gold;
	}
}
#section-5 {
	h5 {
		padding: 0 4px;
//		background: $dark-gray;
		color: $gray;
		border-bottom: 1px solid $gray;
	}
	.statement-list {
//		text-align: center;
		ul {
			display: inline-block;
			padding: 0 15px 30px;
		}
		li {
			display: inline-block;
			width: 120px;
			img {
				cursor: pointer;
			}
		}
	}
	@include respond-to (normal-mobile){
		.statement-list {
			ul {
				padding: 0 6px 12px;
			}
			li {
				width: 80px;
			}
		}
	}
	@media screen and (max-width: 375px) {
		.statement-list {
			li {
				width: 70px;
			}
		}
	}
	@include respond-to (xxs-mobile){
		.statement-list {
			li {
				width: 57px;
			}
		}
	}
}
#section-6 {
}
#section-7 {
	.expound {
		position: relative;
		color: $gray;
		li {
			font-size: $xl-font;
			line-height: 1.8;
			padding-left: 30px;
			span {
				font-size: 12px;
			}
			&:before {
				content: "\f00c";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				padding-right: 4px;
				font-size: 16px;
				position: absolute;
				left: 20px;
			}
		}
	}
}
#section-7-5 {
	img {
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}
	.col-md-6 {
		&:nth-of-type(odd) {
			clear: both;
		}
		padding: 20px 0;
		
		min-height: 120px;
	}
	.player {
		span {
			font-size: $xl-font;
			padding: 0 5px;
			&:nth-of-type(1):after {
				content: ('/');
				padding-left: 10px;
			}
		}
		
	}
	.player-evaluation {
//		width: 90%;
		padding: 0 10px;
//		border-bottom: 1px solid #ccc;
	}
	p {
		font-size: $xl-font;
		padding: 2px 0 10px 40px; 
	}
	@include respond-to (normal-mobile){
		.col-md-6 {
			min-height: 0;
			height: auto;
			padding: 10px 0; 
		}
	}
}
#section-8 {
	.comments-container {
		width: 70%;
		margin: 0 auto;
	}
	@include respond-to (normal-mobile){
		.comments-container { 
			width: 100%;
		}
	}
}
footer {
	background: $black;
	text-align: center;
	font-size: $xl-font;
	color: $yellow;
	line-height: 100px;
//	li {
//		display: inline-block;
//		vertical-align: top;
//		a {
//			color: $white;
//			padding: 10px;
//		}
//		&:nth-child(1) {
//			&:after {
//				content: ('|');
//			}
//		}
//	}
}
@include respond-to (only-device){
	h2 {
		font-size: 2.3em;
	}
	h3 {
		font-size: 2em;
	}
	h4 {
		font-size: 1.2em;
	}
}
.amcharts-chart-div {
	background: white;
}
#report {
	.report-anchor{
		padding-top: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid gray;
	}
	#section-3 {
		background: $light-gray;
		padding: 20px 0;
		.container {
			height: auto;
			&.report-list {
//				border-bottom: 1px solid #ddd;
				padding: 20px 0;
				a {
					display: block;
					font-size: 1em;
					margin-bottom: 20px;
					border-bottom: 1px solid #999;
					span {
						display: block;
						padding: 0 4px;
						&.date {
							font-size: 1em;
							color: $gray;
							display: inline-block;
						}
						&.title {
							color: $dark-gray;
							font-size: 1.2em;
						}
					}
					&:hover {
						color: $dark-gray;
						text-decoration: underline;
					}
				}
			}
		}
	}
	#section-4 {
		background: $white;
		padding: 0 0 80px;
		h2 {
			font-size: 30px;
			line-height: 1.2;
	//		font-weight: bold;
			color: $dark-gray;
			margin-bottom: 0;
			text-align: center;
			span {
				font-size: 14px;
				display: block;
				color: $gray;
			}
		}
		h3 {
			font-size: 24px;
			text-align: left;
			margin-top: 30px;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 20px;
			a {
				color: $gray;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		img {
			margin: 10px auto;
			&:nth-of-type(1) {
				width: 380px;
			}
		}
		.Tozzi-comments {
			position: relative;
			color: $gray;
			margin-bottom: 20px;
			li {
				font-size: 16px;
				line-height: 1.8;
				padding-left: 30px;
				span {
					font-size: 12px;
				}
				&:before {
					content: "\f046";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					padding-right: 4px;
					font-size: 16px;
					position: absolute;
					left: 10px;
				}
			}
		}
	}
}
#ranking {
    h2.main-title {
        font-size: 36px;
        letter-spacing: 0;
        text-align: center;
    }
	h2 {
		
		img {
			width: 36px;
			vertical-align: text-top;
		}
		span {
			vertical-align: top;
		}	
	}
	table, th, td {
		text-align: center!important;
        font-size: 15px;
	}
	th {
		&:nth-of-type(1){
			width: 50px;
		}
        &:nth-of-type(2){
			width: 120px;
		}
	}
	.ranking {
		margin-bottom: 30px;
	}
    p.note {
        margin-top: -30px;
		margin-bottom: 50px;
    }
}
.ranking-all {
    .tab-container {
        border-radius: 10px;
        background: rgba($rice, .3);
        padding: 10px;
        border: 0;
        box-shadow: 0 2px 0 rgba($gold,.6);
        margin-bottom: 20px;
    }
    .table-responsive {
        
    }
    a {
        &:hover {
            background: none;
            color: $gold;
        }
    }
    .table.ranking {
        > thead > tr > th {
            border-bottom: 1px solid $gold;
        }
        > tbody > tr > td {
            border-bottom: 1px solid $light-gray;
        }
        td, th {
            vertical-align: middle!important;
        }
        th, td {
            text-align: center!important;

        }
        tr {
            img {
                width: 40px;
                height: 40px;
                &:hover {
                    border: 2px solid $gold;
                }
            }
        }
    }
}
body.season2 #section-4 {
    h2 {
        span {
            &:nth-of-type(2) {
               font-size: 18px;
                display: block;
                margin-top: -5px;
            }
        }
    }
    padding-bottom: 80px;
}
.market-all {
    .row {
        padding-left: 30px;
        padding-right: 30px;
    }
    .market-single {
        border-bottom: 1px solid $gold;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    p {
        font-size: 17px;
    }
    .trader-single {
        text-align: center;
//        .trader-single {
//            float: right;
//        }
       img {
            width: 70px;
            height: 70px;
        }
        span {
            display: inline-block;
            font-size: 15px;
            margin: 4px 0;
            padding: 4px 0;
            width: 70px;
            background: rgba($gold,.6);
            color: $white;
        } 
    }
    @include respond-to (only-mobile){
        .trader-single {
            text-align: left;
            span {
                text-align: center;
            }
        }
    }
}
.market-article {
    padding: 0 15px;
    text-align: center;
    ul {
        li {
            line-height: 1.2;
            margin-bottom: 10px;
        }
    }
}
//body.season2 {
//	#navigation {
//		background: red;
//	}
//}
