<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!--css-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">

	<!--vue-->
	<script src="js/vue.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/semantic.js"></script>
	<link href="css/semantic.css" rel="stylesheet">
	<link href="css/admin.css" rel="stylesheet">
</head>
<body class="season2">

<div class="ui inverted dimmer">
	<div class="ui text loader">上傳中</div>
</div>

<div id="vue">

<div class="ui top attached tabular menu">
	<a @click="info" :class="{active: tab == 'info'}" class="item">資訊</a>
	<a @click="tab = 'media'" :class="{active: tab == 'media'}" class="item">影音</a>
	<a @click="tab = 'event'" :class="{active: tab == 'event'}" class="item">活動</a>
	<a @click="tab = 'order'" :class="{active: tab == 'order'}" class="item">訂位</a>
	<button @click="save" class="ui primary button right">儲存</button>
</div>

<div v-if="tab == 'info'">
	商家名稱：<br>
	<input v-model="name" class="big">
	標籤：<br>
	<div class="ui floating multiple dropdown search normal selection">
		<input type="hidden" v-model.lazy="tag">
		<i class="dropdown icon"></i>
		<div class="default text">請選擇類別屬性</div>
		<div class="menu">
			<div class="item" v-for="(t,i) in tags" v-bind:data-value="i"><span v-text="t"></span></div>
		</div>
	</div><br>
	負責人：<br>
	<input v-model="boss" class="big">
	電話：<br>
	<input v-model="phone" class="big">
	地址：<br>
	<input v-model="address" class="big">
	<iframe :src="'https://www.google.com.tw/maps?&output=embed&q=' + address" style="width: 100%; border: 1px solid"></iframe>
</div>

<div v-if="tab == 'media'">
	<div v-for="(m, i) in media" class="list">
		<button @click="remove(i)" class="ui button right">刪除</button>
		<img v-if="m.image" :src="m.src" style="height: 100px; vertical-align: baseline">
		<video v-if="m.video" :src="m.src" style="height: 100px"></video>
		<br>說明：<input v-model="media[i].desc" class="big">
	</div>
	<div>
		<label for="file" class="ui button">上傳</label>
		<input id="file" type="file" style="visibility: hidden" @change="upload($event)">
	</div>
</div>

<div v-if="tab == 'event'">
	開發中
</div>

<div v-if="tab == 'order'">
	也是開發中
</div>

</div>

<script>

var data = {
	tab: 'info',
	id: 0,
	name: '',
	boss: '',
	phone: '',
	address: '',
	media: [],
	tag: '',
	tags: ['餐廳', '旅館', '親子', '客家', '原民', '手作', '文化', '特色'],
};

//data//

var vue = new Vue({el: '#vue', data: data, methods: {
	save: function () {
		var x = JSON.parse(JSON.stringify(this.$data));
		delete x.tab;
		delete x.tags;
		console.log(x);
		$('.dimmer').dimmer('show');
		axios.post('admin_shop_save', x)
		.then(function (result) {
			$('.dimmer').dimmer('hide');
			console.log(result);
			if (result.data.code == 0)
				alert('儲存成功！');
			else
				alert(result.data.message);
			location.reload();
		})
		.catch(function (error) {
			$('.dimmer').dimmer('hide');
			console.log(error);
			alert(error);
		});
	},
	remove: function (i) {
		if (confirm('是否確認刪除?')) this.media.splice(i, 1);
	},
	upload: function (e) {
		var file = e.target.files[0];
		if (!/^(image|video)/.test(file.type)) {
			alert('請上傳圖檔或影片');
			e.target.value = '';
		}
		console.log(file);
		var reader = new FileReader();
		reader.onload = function (e) {
			file.src = e.target.result;
			if (/^image/.test(file.type))
				file.image = true;
			else
				file.video = true;
			data.media.push(file);
		}
		reader.readAsDataURL(e.target.files[0]);
		e.target.value = '';
	},
	info: function (e) {
		this.tab = 'info';
		setTimeout("$('.ui.dropdown').dropdown()", 200);
	},
}});

$('.ui.dropdown').dropdown();

</script>

</body>
</html>
