<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!--css-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="https://unpkg.com/element-ui/lib/theme-default/index.css" rel="stylesheet">
	<link href="css/semantic.css" rel="stylesheet">
	<link href="css/admin.css" rel="stylesheet">

	<!--vue-->
	<script src="js/vue.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/semantic.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body class="season2">

<div id="vue" v-loading.fullscreen.lock="lock">

<div class="ui top attached tabular menu">
	<a @click="tab = 'info'" :class="{active: tab == 'info'}" class="item">資訊</a>
	<a @click="tab = 'media'" :class="{active: tab == 'media'}" class="item">影音</a>
	<a @click="tab = 'event'" :class="{active: tab == 'event'}" class="item">活動</a>
	<a @click="tab = 'order'" :class="{active: tab == 'order'}" class="item">訂位</a>
	<button @click="save" class="ui primary button right">儲存</button>
</div>

<!--
<el-tabs v-model="tab" type="card">
	<el-tab-pane label="資訊" name="info">資訊</el-tab-pane>
	<el-tab-pane label="影音" name="media">影音</el-tab-pane>
	<el-tab-pane label="活動" name="event">活動</el-tab-pane>
	<el-tab-pane label="訂位" name="order">訂位</el-tab-pane>
</el-tabs>
-->

<div v-if="tab == 'info'">
	商家名稱：<br>
	<el-input v-model="shop.name"></el-input>
	標籤：<br>
	<el-select v-model="shop.tag" multiple placeholder="請選擇類別屬性" style="width: 100%">
		<el-option v-for="t in tags" :label="t" :value="t"></el-option>
	</el-select><br>
	營業日：<br>
	<el-select v-model="shop.day" multiple placeholder="請選擇營業日" style="width: 100%">
		<el-option v-for="(d,i) in days" :label="d" :value="i"></el-option>
	</el-select><br>
	營業時間：<br>
	<el-time-select placeholder="開始時間" v-model="shop.start" :picker-options="{start: '06:00', step: '00:15', end: '22:30'}"></el-time-select>
	<el-time-select placeholder="结束时间" v-model="shop.end" :picker-options="{start: '06:00', step: '00:15', end: '22:30', minTime: shop.start}"></el-time-select>
	<br>
	負責人：<br>
	<el-input v-model="shop.boss"></el-input>
	電話：<br>
	<el-input v-model="shop.phone"></el-input>
	地址：<br>
	<el-input v-model="shop.address"></el-input>
	<iframe :src="'https://www.google.com.tw/maps?&output=embed&q=' + shop.address" style="width: 100%; border: 1px solid"></iframe>
	簡介：<br>
	<el-input v-model="shop.intro" type="textarea" autosize placeholder="請輸入簡介"></el-input>
	<div v-html="shop.intro" class="block"></div>
</div>

<div v-if="tab == 'media'">
	<div v-for="(m, i) in shop.media" class="list">
		<el-button @click="removeMedia(i)" class="right" icon="delete">刪除</el-button>
		<img v-if="m.image" :src="m.src" style="height: 100px; vertical-align: baseline">
		<video v-if="m.video" :src="m.src" style="height: 100px"></video>
		<br>
		<el-input v-model="shop.media[i].desc" type="textarea" autosize placeholder="請輸入說明"></el-input>
	</div>
	<div>
		<label for="file" class="ui primary button"><i class="el-icon-upload2"></i>上傳</label>
		<input id="file" type="file" style="visibility: hidden" @change="addMedia($event)">
	</div>
</div>

<div v-if="tab == 'event'">
	<div v-for="(e, i) in shop.event" class="list">
		<el-button @click="removeEvent(i)" class="right" icon="delete">刪除</el-button>
		活動名稱：<br>
		<el-input v-model="e.name"></el-input>
		活動日期：<br>
		<el-date-picker v-model="e.start" type="date" placeholder="開始日期"></el-date-picker>
		<el-date-picker v-model="e.end" type="date" placeholder="結束日期"></el-date-picker>
		<br>
		活動說明：<br>
		<el-input v-model="shop.event[i].intro" type="textarea" autosize></el-input>
		<div v-html="e.intro" class="block"></div>
	</div>
	<el-button @click="addEvent" icon="plus">新增</button>
</div>

<div v-if="tab == 'order'">
	還在開發中
</div>

</div>

<script>

var data = {
	tab: 'info',
	lock: false,
	tags: ['餐廳', '咖啡', '旅館', '親子', '客家', '原民', '手作', '文化', '特色'],
	days: ['週日', '週一', '週二', '週三', '週四', '週五', '週六'],
	shop: {
		id: 0,
		name: '',
		tag: '',
		day: '',
		start: null,
		end: null,
		boss: '',
		phone: '',
		address: '',
		intro: '',
		media: [],
		event: [],
	}
};

//data//

var vue = new Vue({el: '#vue', data: data, methods: {
	save: function () {
		vue.lock = true;
		axios.post('admin_shop_save', vue.shop)
		.then(function (result) {
			vue.lock = false;
			console.log(result);
			if (result.data.code == 0)
				alert('儲存成功！');
			else
				alert(result.data.message);
			location.reload();
		})
		.catch(function (error) {
			vue.lock = false;
			console.log(error);
			alert(error);
		});
	},
	addEvent: function (i) {
		vue.shop.event.push({name: '', intro: '', start: null, end: null});
	},
	addMedia: function (e) {
		var file = e.target.files[0];
		if (!/^(image|video)/.test(file.type)) {
			alert('請上傳圖檔或影片');
			e.target.value = '';
		}
		console.log(file);
		var reader = new FileReader();
		reader.onload = function (e) {
			file.src = e.target.result;
			if (/^image/.test(file.type))
				file.image = true;
			else
				file.video = true;
			vue.shop.media.push(file);
		}
		reader.readAsDataURL(e.target.files[0]);
		e.target.value = '';
	},
	removeEvent: function (i) {
		if (confirm('確認刪除?')) vue.shop.event.splice(i, 1);
	},
	removeMedia: function (i) {
		if (confirm('確認刪除?')) vue.shop.media.splice(i, 1);
	},
}});

</script>

</body>
</html>
