<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="">

	<!--og info-->
	<meta property="og:title" content="TOZZI 投資實戰擂台"/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:site_name" content="TOZZI 投資實戰擂台"/>
	<meta property="og:description" content="TOZZI 投資實戰擂台 - 投資 Style 千百種，真 Fighting 只有一種">

	<title>TOZZI 投資實戰擂台 - 投資 Style 千百種，真 Fighting 只有一種</title>
 
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<!--css-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/slick-theme.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">
	
	<!--amchart-->
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
	<link href="css/chart.css" rel="stylesheet">

	<!--vue-->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>

	<!--google-->
	<meta name="google-site-verification" content="-MLXb98KIXlOE_dmJ18CK9Ynil6NnPMRct9vU1ZYDpg" />
	<link href="https://fonts.googleapis.com/css?family=Lora|Roboto:100,700,500" rel="stylesheet">
	<script src="https://use.typekit.net/oem8boq.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5shiv.min.js"></script>
		<script type="text/javascript" src="js/respond.min.js"></script>
	<![endif]-->
	<!--GA-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=184369558296135";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</head>
<body id="index" class="crowd-plan">
	<div id="vue">
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation">
        <div class="container-fluid">
            <div class="navbar-header clearfix">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">TOZZI ARENA</a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li><a href="crowd-plan.html"><i class="fa fa-users" aria-hidden="true"></i>百人百萬領投計畫</a></li>
                    <li><a href="traders_crowd-plan.html">領投選手</a></li>
                    <li><a href="https://www.facebook.com/notes/tozzi/tozzi%E7%99%BE%E4%BA%BA%E7%99%BE%E8%90%AC%E9%A0%98%E6%8A%95%E8%A8%88%E7%95%AB-%E6%B4%BB%E5%8B%95%E8%A6%8F%E5%89%87/1458691500884133/" target="_blank">活動規則</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">所有賽季
                                                    <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="traders_s1.html" target="_blank">第一季</a></li>
                            <li><a href="index_s2.html" target="_blank">第二季</a></li>
                            <li><a href="index.html" target="_blank">第三季</a></li>
                            <li><a href="crowd-plan.html" target="_blank">百人百萬領投計畫</a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.facebook.com/groups/tozzitraders/requests/?notif_t=group_r2j&notif_id=1494519790569737" target="_blank">社團</a></li>
                    <li class="fb"><a href="https://www.facebook.com/tozziarena" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span>facebook 粉絲頁</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /.Navigation -->
	<div id="section-1">
		<div class="container-fluid">
			<h2 class="logo"><img src="images/tozzi_logo_black.png" alt="TOZZI 投資實戰擂台"></h2>
			<h1>百人百萬領投計畫</h1>
			<h2>這場戰役的勝負，TOZZI 交由你來投</h2>
		</div>
	</div>
	<!--計畫說明-->
	<div id="section-2">
		<div class="container">
			<h2>領投計畫說明</h2>		 
			<div class="col-sm-10 col-sm-offset-1">
				<p v-html="season3.crowd"></p>
			</div>
		</div>
	</div>
	<!--選手列表-->
	<div id="section-2-5">
	    <div class="container-fluid clearfix">
            <h2>領投選手</h2>
            <div class="crowd-list row" v-for="t in traders">
                <img :src="t.image" class="img-circle img-responsive" alt="">
                <div class="col-sm-12">
                    <div class="results">
                       <p>得票數<span v-text="count[t.id]"></span>票</p>
                       <p>相當於<span v-text="count[t.id] * 10000"></span>元</p>
                    </div>
                    <div class="history">
                        <div class="history-list" v-if="t.season1.length" v-for="s in t.season1">
                            <h6>第一季</h6>
                            <div class="results">
                                <span v-text="s.prize + '獎第 ' + s.rank + ' 名'">股感獎第 4 名</span>
                                <span v-text="'選手互評平均分：' + s.average">選手互評平均分：7.2</span>
                                <span v-text="'投報率：' + s.rate">投報率：5.7%</span>
                                <span v-text="'總得分：' + s.score">總得分：6.45</span>
                            </div>
                        </div>
                        <div class="history-list" v-if="t.season2.length" v-for="s in t.season2">
                            <h6>第二季</h6>
                            <div class="results">
                                <span v-text="s.prize + '獎第 ' + s.rank + ' 名'">股感獎第 4 名</span>
                                <span v-text="'選手互評平均分：' + s.average">選手互評平均分：7.2</span>
                                <span v-text="'投報率：' + s.rate">投報率：5.7%</span>
                                <span v-text="'總得分：' + s.score">總得分：6.45</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-md center-block" id="modify-btn" @click="go(t.id)" >我要投給他</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!--投報率曲線圖+週排行-->
	<div id="section-3" style="display: none">
		<div class="container">
			<div class="chart-top3" v-if="points.length">
				<h2>所有選手投報率曲線圖</h2>
				<div id="chartdiv" class="stock-chart"></div>
			</div>
			<div class="ranking-all" v-if="top5.length">
				<h3><span>所有選手投報率週排行</span></h3>
				<div class="tab-container">
				    <div class="table-responsive">
                        <table class="table ranking">
                            <thead>
                                <tr>
                                    <th>名次</th>
                                    <th title="以「上週最末交易日」與「上上週最末交易日」收盤後之投報率變化，為排名升降基準。">變動</th>
                                    <th>頭像</th>
                                    <th>名稱</th>
<!--                                    <th>選手互評平均分</th>-->
                                    <th title="以「上週最末交易日」收盤後之投報率為排名基準。">投報率</th>
<!--                                    <th>總得分</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(t, i) in top5">
                                    <td v-text="i + 1"></td>
                                    <td v-text="t.delta" title="以「上週最末交易日」與「上上週最末交易日」收盤後之投報率變化，為排名升降基準。">-</td>
                                    <td><a :href="'traders_s3.html?id=' + t.id"><img :src="t.trader3.image" :alt="t.trader3.name" class="img-circle"></a></td>
                                    <td><a :href="'traders_s3.html?id=' + t.id" v-text="t.trader3.name"></a></td>
<!--                                    <td v-text="t.mean">-</td>-->
                                    <td v-text="t.point.rate + '%'" title="以「上週最末交易日」收盤後之投報率為排名基準。">-</td>
<!--                                    <td v-text="t.total">-</td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <!--選手當週市場觀察-->
    <div id="section-4" v-if="markets.length" style="display: none">
        <div class="container">
            <h2><span>選手當週市場觀察</span>
                <span v-text="week"></span>
            </h2>
            <div class="row market-all">
                <div class="row" v-for="t in traders">
                    <div class="col-md-2 col-sm-2  col-md-offset-1">
                        <div class="trader-single">
                            <a :href="'traders_s3.html?id=' + t.id">
                                <img :src="t.image" class="img-circle" :alt="t.name">
                                <span v-text="t.name"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-10">
                        <div class="market-single">
                            <p v-html="t.markets[t.markets.length-1].info"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<footer>Copyright © tozzi.com.tw, 2017</footer>	
	</div>
	
	<!--jQuery--> 
	<script type="text/javascript" src="js/jquery-2.2.4.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js" ></script>
	<!--script type="text/javascript" src="js/jquery.mobile.custom.min.js"></script-->
	<script type="text/javascript" src="js/slick.min.js" ></script>
	<script type="text/javascript" src="js/script.js" ></script>

<script>

var data = {
  traders: [],
  season3: {week: '8/28~9/1', news: [], crowd: '說明'},
  news: [
    {url: 'https://www.facebook.com/notes/tozzi/tozzi-%E6%8A%95%E8%B3%87%E5%AF%A6%E6%88%B0%E7%94%9F%E5%AD%98%E8%B3%BD%E4%B9%8B%E7%B6%93%E5%85%B8%E5%BB%B6%E7%BA%8C20170515-20170714/1324718784281406/', title: '【TOZZI 投資實戰生存賽之經典延續】2017.05.15 ~ 2017.07.14'},
  ],
  week: '',
  articles: [
    {url: '', title: '選手市場觀察 起始日～結束日 統整的一篇市場觀察1'},
    {url: '', title: '選手市場觀察 起始日～結束日 統整的一篇市場觀察2'},
  ],
  markets: [
    {image: 'images/profile_photo.png', comment: '(A)個人投資組合 短期有獲利則會停利，嚴設停損10% <br> (B)整體市場的觀察 目前主要受升息議題影響，這週資金動向外移，下週重點觀看fed 3/15-16是否升息結果，選股方面主要挑強勢股及基本涼涼好股票'},
    {image: 'images/profile_photo.png', comment: '(A)個人投資組合 短期有獲利則會停利，嚴設停損10% <br> (B)整體市場的觀察 目前主要受升息議題影響，這週資金動向外移，下週重點觀看fed 3/15-16是否升息結果，選股方面主要挑強勢股及基本涼涼好股票2'},
  ],
  points: [],
  names: [],
  top5: [],
  count: {},
};


//data//

var vue = new Vue({el: '#vue', data: data, methods: {
    go: function (id) {
        location.href='traders_crowd-plan.html?id='+id;
    }
}});

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93922946-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
