<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="">

	<!--og info-->
	<meta property="og:title" content="TOZZI 投資實戰賽"/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:site_name" content="TOZZI 投資實戰賽"/>
	<meta property="og:description" content="TOZZI 投資實戰賽 - 投資 Style 千百種，真 Fighting 只有一種">

	<title>TOZZI 投資實戰賽 - 投資 Style 千百種，真 Fighting 只有一種</title>

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<!--css-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/slick-theme.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">

	<!--amchart-->
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
	<link href="css/chart.css" rel="stylesheet">
	<script src="js/chart3.js"></script>

	<!--vue-->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>

	<!--google-->
	<meta name="google-site-verification" content="-MLXb98KIXlOE_dmJ18CK9Ynil6NnPMRct9vU1ZYDpg" />
	<link href="https://fonts.googleapis.com/css?family=Lora|Roboto:100,700,500" rel="stylesheet">
	<script src="https://use.typekit.net/oem8boq.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5shiv.min.js"></script>
		<script type="text/javascript" src="js/respond.min.js"></script>
	<![endif]-->
	<!--GA-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=184369558296135";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</head>
<body id="traders" class="season3">
	<div id="vue">
	<!-- Navigation -->
    <header class="navbar-fixed-top">
        <div class="container">
            <h2 class="logo"><a href="index.html"><img src="images/tozzi_logo_new.png" alt="TOZZI"></a></h2>
            <h2 class="logo-s"><a href="index.html"><img src="images/tozzi_logo_s.png" alt="TOZZI"></a></h2>
            <ul class="right-nav">
                <li><a href="index_s3.html">實況</a></li>
                <li class="dropdown avatar-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">選手</a>
                    <ul class="dropdown-menu">
                        <div class="container">
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=4"><img src="images/trader_s1_1.jpg" class="img-responsive" alt="李效寬">
                                    <span>李效寬</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=5"><img src="images/trader_s1_2.jpg" class="img-responsive" alt="李睿軒">
                                    <span>李睿軒</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=8"><img src="images/trader_s1_3.jpg" class="img-responsive" alt="張靜玉">
                                    <span>張靜玉</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=9"><img src="images/trader_s1_4.jpg" class="img-responsive" alt="陳大信">
                                    <span>陳大信</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=10"><img src="images/trader_s2_4.jpg" class="img-responsive" alt="陳詠聖">
                                    <span>陳詠聖</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=11"><img src="images/profile_photo.png" class="img-responsive" alt="楊皓宇">
                                    <span>楊皓宇</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=13"><img src="images/trader_s2_5.jpg" class="img-responsive" alt="吳牧真">
                                    <span>吳牧真</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=14"><img src="images/trader_s2_3.jpg" class="img-responsive" alt="洪子涵">
                                    <span>洪子涵</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=15"><img src="images/trader_s2_2.jpg" class="img-responsive" alt="">
                                    <span>孫銘均</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=17"><img src="images/trader_s3_11.png" class="img-responsive" alt="陳安煦">
                                    <span>陳安煦</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=19"><img src="images/trader_s2_1.jpg" class="img-responsive" alt="塔塔相談">
                                    <span>塔塔相談</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=21"><img src="images/profile_photo.png" class="img-responsive" alt="流的滑">
                                    <span>流的滑</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=23"><img src="images/trader_s3_9.jpg" class="img-responsive" alt="陳志榮">
                                    <span>陳志榮</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=24"><img src="images/trader_s3_8.jpg" class="img-responsive" alt="游穎繜">
                                    <span>游穎繜</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=25"><img src="images/trader_s3_5.jpg" class="img-responsive" alt="林仕偉">
                                    <span>林仕偉</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=26"><img src="images/trader_s3_6.jpg" class="img-responsive" alt="Jujie Wang">
                                    <span>Jujie Wang</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=27"><img src="images/trader_s3_10.jpg" class="img-responsive" alt="Moore">
                                    <span>Moore</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=28"><img src="images/trader_s3_7.jpg" class="img-responsive" alt="">
                                    <span>康敏洋</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=29"><img src="images/trader_s3_3.jpg" class="img-responsive" alt="Tony Chung">
                                    <span>Tony Chung</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=30"><img src="images/trader_s3_4.jpg" class="img-responsive" alt="Trader Yu">
                                    <span>Trader Yu</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=31"><img src="images/trader_s3_1.png" class="img-responsive" alt="一菊流">
                                    <span>一菊流</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s3.html?id=32"><img src="images/trader_s3_2.jpg" class="img-responsive" alt="黃恒中">
                                    <span>黃恒中</span></a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="dropdown play">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">賽季</a>
                    <ul class="dropdown-menu">
                        <li class="play-cate">
                            <ul>
                                <li>台股投資實戰賽</li>
                                <li><a href="traders_s1.html">第一季</a></li>
                                <li><a href="index_s2.html">第二季</a></li>
                                <li><a href="index_s3.html">第三季</a></li>
                                <li><a href="index_s4.html">第四季</a></li>
                            </ul>
                        </li>
                        <li class="play-cate">
                            <ul>
                                <li>百人百萬領投計畫</li>
                                <li><a href="crowd-plan.html">第一季</a></li>
                            </ul>
                        </li>
                        <li class="play-cate">
                            <ul>
                                <li>權證投資實戰</li>
                                <li><a href="warrant_s1.html">第一季-台新權證聯合舉辦</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown others">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://goo.gl/z3ncG5" target="_blank">比賽規則</a></li>
                         <li><a href="https://goo.gl/iNyU4Z" target="_blank">常見問答</a></li>
                        <li><a href="https://goo.gl/A95Vg9" target="_blank">FB社團</a></li>
                        <li><a href="https://www.facebook.com/tozziarena" target="_blank"><span>FB粉絲頁</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <!-- /.Navigation -->
	<div id="section-1">
		<div class="container-fluid">
		    <div class="container">
		        <h1>台股投資實戰賽</h1>
                <h2>第三季</h2>
		    </div>
		</div>
	</div>

<!--
	<div id="section-2">
		<div class="container">
			<div class="content">
				<div class="slider">
					<div v-for="trader in traders">
						<a :href="'?id=' + trader.id">
							<img :src="trader.image" alt="" :title="trader.name" :class="{active: trader.id == id}">
							<span v-text="trader.name"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
-->
	
	<!--選手介紹 歷史參賽紀錄-->
	<div id="section-3">    
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 col-sm-3 text-center">
                    
                   <div class="trader-photo" :style="'background-image: url(' + image + ')'">
                       <span class="retire" style="display: none" :style="{display: (id == 20)? 'block': 'none'}">7/12起退賽</span>
                   </div>
<!--                    <img :src="image" alt="" class="img-responsive img-circle">-->
                </div>
                <div class="col-xs-12 col-sm-9">
                    <h4><span v-text="name"></span>
                        <a v-if="facebook" class="btn btn-fb player" :href="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a v-if="interview" class="btn btn-interview" :href="interview">獨家專訪</a>
                    </h4>
                    <p v-html="strategy"></p>
                    <div class="history" v-if="season1.length + season2.length">
                        <div class="row">
                            <h4><span>歷史參賽紀錄</span><span><img src="images/icon_ranking.png" alt=""></span></h4>
                            <div class="history-list col-xs-6" v-for="s in season1">
                                <h6>第一季</h6>
                                <div class="results">
                                    <span v-text="s.prize + '獎第 ' + s.rank + ' 名'"></span>
                                    <span v-text="'選手互評平均分：' + s.average"></span>
                                    <span v-text="'投報率：' + s.rate"></span>
                                    <span v-text="'總得分：' + s.score"></span>
                                </div>
                                <span class="more"><a :href="'traders_s1.html?id=' + id">看更多</a></span>
                            </div>
                            <div class="history-list col-xs-6" v-for="s in season2">
                                <h6>第二季</h6>
                                <div class="results">
                                    <span v-text="s.prize + '獎第 ' + s.rank + ' 名'"></span>
                                    <span v-text="'選手互評平均分：' + s.average"></span>
                                    <span v-text="'投報率：' + s.rate"></span>
                                    <span v-text="'總得分：' + s.score"></span>
                                </div>
                                <span class="more"><a :href="'traders_s2.html?id=' + id">看更多</a></span>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>

		</div>
	</div>
	<div id="section-4">
        <!--資金報酬曲線圖-->
		<div class="container">
			<h2>資金報酬曲線圖</h2>
			<div id="chartdiv" class="stock-chart"></div>
			<div id="chartdiv2" class="stock-chart"></div>
		</div>
	</div>

	<div id="section-5" v-if="reports.length || Object.keys(markets).length">
        <!--賽程動態 交易解說 市場觀察-->
        <div class="container">
            <h2>賽程動態</h2>
            <div class="row expound" v-if="reports.length">
                <h3><span>交易解說</span></h3>
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="expound-list" v-for="r in reports">
                        <span class="date" v-text="r.date"></span>
                        <span class="statement-list"><a @click="src = r.images; title = r.date" data-toggle="modal" data-target="#modal-statement">查看對帳單</a></span>
                        <span class="detail" v-html="r.reason"></span>
                    </div>
                </div>
            </div>
            <div class="row" v-if="markets.length">
                <h3><span>每週市場觀察</span></h3>
                <div class="col-sm-8 col-sm-offset-2" v-for="m in markets">
                    <div class="market-list">
                        <span class="date" v-text="m.date"></span>
                        <p v-html="m.info"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!--交易紀錄-->
	<div id="section-6" v-if="records.length">
		<div class="container">
			<h2>交易紀錄</h2>
			<div class="tab-container">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>日期</th>
								<th>證券名稱</th>
								<th>交易行為</th>
								<th>股數</th>
								<th>單價</th>
								<th>價金</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="record in records.sort(function(a,b){return (a.date>b.date)?1:-1;})">
								<td v-text="record.date"></td>
								<td v-text="record.name"></td>
								<td v-text="record.type"></td>
								<td v-text="record.share"></td>
								<td v-text="'$' + record.price"></td>
								<td v-text="'$' + record.total"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

    <!--來自選手的評價-->
	<div id="section-7-5" v-if="comments8.length">
		<div class="container">
			<h2>來自選手的評價：8/7~9/7</h2>
			<div class="col-md-6" v-for="comment in comments8">
				<div class="player">
					<img :src="trader(comment.id).image" alt="">
					<span v-text="trader(comment.id).name"></span>
					<span v-text="comment.score + '分'"></span>
				</div>
				<div class="player-evaluation">
					<p v-html="comment.comment"></p>
				</div>
			</div>
		</div>
	</div>

	<div id="section-7-5" v-if="comments9.length">
		<div class="container">
			<h2>來自選手的評價：9/8～10/8</h2>
			<div class="col-md-6" v-for="comment in comments9">
				<div class="player">
					<img :src="trader(comment.id).image" alt="">
					<span v-text="trader(comment.id).name"></span>
					<span v-text="comment.score + '分'"></span>
				</div>
				<div class="player-evaluation">
					<p v-html="comment.comment"></p>
				</div>
			</div>
		</div>
	</div>

	<div id="section-8">
		<div class="container">
			<div class="comments-container">
				<div class="fb-comments" data-href="http://www.tozzi.com.tw" data-numposts="5" data-width="100%"></div>
			</div>
		</div>
	</div>

	<div id="modal-statement" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div type="button" class="close" data-dismiss="modal"></div>
				<div class="modal-body">
					<h4 class="modal-title">{{title}} 交易明細</h4>
					<img v-for="s in src" :src="s" :alt="title" :title="title" class="img-responsive">
				</div>
			</div>

		</div>
	</div>

	<footer>Copyright © tozzi.com.tw, 2017</footer>
	</div>

	<!--jQuery-->
	<script type="text/javascript" src="js/jquery-2.2.4.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js" ></script>
	<!--script type="text/javascript" src="js/jquery.mobile.custom.min.js"></script-->
	<script type="text/javascript" src="js/slick.min.js" ></script>
	<script type="text/javascript" src="js/script.js" ></script>

<script>

var data = {
  id: 0,
  image: '',
  name: '',
  strategy: '',
  src: [],
  title: '',
  facebook: '',
  interview: '',
  traders: [{},{},{},{},{},{},{},{},{},{},{},{}],
  records: [],
  reports: [
    {
      date: "帳戶起始狀態",
      reason: "(A)公司去年毛利回到高檔，且營利率創新高，今年可望配發1.2元現金股利，等待近期公司發布相關消息。<br>\n(B)目前殖利率仍高，待合理價格後，便出場。<br>\n(C)公司發布消息前，若股價持續下修，則分批往下加碼佈局。<br>\n(D)待股價至合理價格後，逢高減碼；若利多不漲時，也將持續減碼出場。",
      images: [
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
      ],
    },
    {
      date: "5/15",
      reason: "(A)公司去年毛利回到高檔，且營利率創新高，今年可望配發1.2元現金股利，等待近期公司發布相關消息。<br>\n(B)目前殖利率仍高，待合理價格後，便出場。<br>\n(C)公司發布消息前，若股價持續下修，則分批往下加碼佈局。<br>\n(D)待股價至合理價格後，逢高減碼；若利多不漲時，也將持續減碼出場。這是測試。",
      images: [
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
        "https://s3-ap-northeast-1.amazonaws.com/tozzi-img/3-0515orginal.jpg",
      ],
    },
  ],
  points: [],
  comments8: [],
  comments9: [],
  price: {},
  history: [],
  markets: [],
};

///data

///

//data//

var vue = new Vue({el: '#vue', data: data, methods: {
  trader: function (id) {
    for (var i in this.traders) {
      if (this.traders[i].id == id)
        return this.traders[i];
    }
  }
}});
draw(data.points);

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93922946-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
