<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="">

	<!--og info-->
	<meta property="og:title" content="TOZZI 投資實戰賽"/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:site_name" content="TOZZI 投資實戰賽"/>
	<meta property="og:description" content="TOZZI 投資實戰賽 - 投資 Style 千百種，真 Fighting 只有一種">

	<title>TOZZI 投資實戰賽 - 投資 Style 千百種，真 Fighting 只有一種</title>

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<!--css-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/slick-theme.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">

	<!--amchart-->
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
	<link href="css/chart.css" rel="stylesheet">
	<script src="js/chart2.js"></script>

	<!--vue-->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>

	<!--google-->
	<meta name="google-site-verification" content="-MLXb98KIXlOE_dmJ18CK9Ynil6NnPMRct9vU1ZYDpg" />
	<link href="https://fonts.googleapis.com/css?family=Lora|Roboto:100,700,500" rel="stylesheet">
	<script src="https://use.typekit.net/oem8boq.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5shiv.min.js"></script>
		<script type="text/javascript" src="js/respond.min.js"></script>
	<![endif]-->
	<!--GA-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=184369558296135";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</head>
<body id="traders" class="season2 kaede">
	<div id="vue">
	<!-- Navigation -->
    <header class="navbar-fixed-top">
        <div class="container">
            <h2 class="logo"><a href="index.html"><img src="images/tozzi_logo_new.png" alt="TOZZI"></a></h2>
            <h2 class="logo-s"><a href="index.html"><img src="images/tozzi_logo_s.png" alt="TOZZI"></a></h2>
            <ul class="right-nav">
                <li><a href="index_s2.html">實況</a></li>
                <li class="dropdown avatar-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">選手</a>
                    <ul class="dropdown-menu">
                        <div class="container">
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html"><img src="images/trader_s2_6.jpg" class="img-responsive" alt="かえで🍁">
                                    <span>かえで🍁</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=3"><img src="images/trader_s1_5.png" class="img-responsive" alt="吳承澤">
                                    <span>吳承澤</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=4"><img src="images/trader_s1_3.jpg" class="img-responsive" alt="李效寬">
                                    <span>李效寬</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=5"><img src="images/trader_s1_4.jpg" class="img-responsive" alt="李睿軒">
                                    <span>李睿軒</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=8"><img src="images/trader_s1_3.jpg" class="img-responsive" alt="張靜玉">
                                    <span>張靜玉</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=9"><img src="images/profile_photo.png" class="img-responsive" alt="陳大信">
                                    <span>陳大信</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=10"><img src="images/trader_s2_4.jpg" class="img-responsive" alt="陳詠聖">
                                    <span>陳詠聖</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=11"><img src="images/profile_photo.png" class="img-responsive" alt="楊皓宇">
                                    <span>楊皓宇</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=13"><img src="images/trader_s2_5.jpg" class="img-responsive" alt="吳牧真">
                                    <span>吳牧真</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=14"><img src="images/trader_s3_11.png" class="img-responsive" alt="洪子涵">
                                    <span>洪子涵</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=15"><img src="images/trader_s2_2-2.jpg" class="img-responsive" alt="孫銘均">
                                    <span>孫銘均</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=16"><img src="images/trader_s2_7.jpg" class="img-responsive" alt="張鈞翔">
                                    <span>張鈞翔</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=17"><img src="images/trader_s3_9.jpg" class="img-responsive" alt="陳安煦">
                                    <span>陳安煦</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=18"><img src="images/trader_s2_9.jpg" class="img-responsive" alt="黃凱凱">
                                    <span>黃凱凱</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=19"><img src="images/trader_s2_1.jpg" class="img-responsive" alt="塔塔相談">
                                    <span>塔塔相談</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=20"><img src="images/trader_s2_10.jpg" class="img-responsive" alt="Ani Sun">
                                    <span>Ani Sun</span></a>
                                </li>
                            </div>
                            <div class="row">
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=21"><img src="images/profile_photo.png" class="img-responsive" alt="Chang Xin">
                                    <span>Chang Xin</span></a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="http://tozzi.com.tw/traders_s2.html?id=22"><img src="images/trader_s2_11.jpg" class="img-responsive" alt="Kwn Duban">
                                    <span>Kwn Duban</span></a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="dropdown play">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">賽季</a>
                    <ul class="dropdown-menu">
                        <li class="play-cate">
                            <ul>
                                <li>台股投資實戰賽</li>
                                <li><a href="traders_s1.html">第一季</a></li>
                                <li><a href="index_s2.html">第二季</a></li>
                                <li><a href="index_s3.html">第三季</a></li>
                                <li><a href="index_s4.html">第四季</a></li>
                            </ul>
                        </li>
                        <li class="play-cate">
                            <ul>
                                <li>百人百萬領投計畫</li>
                                <li><a href="crowd-plan.html">第一季</a></li>
                            </ul>
                        </li>
                        <li class="play-cate">
                            <ul>
                                <li>權證投資實戰</li>
                                <li><a href="warrant_s1.html">第一季-台新權證聯合舉辦</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown others">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
                    <ul class="dropdown-menu">
                        <li><a href="ranking_s2.html">排行榜</a></li>
                        <li><a href="https://goo.gl/wVr7QS" target="_blank">比賽規則</a></li>
                        <li><a href="https://goo.gl/iNyU4Z" target="_blank">常見問答</a></li>
                        <li><a href="https://goo.gl/A95Vg9" target="_blank">FB社團</a></li>
                        <li><a href="https://www.facebook.com/tozziarena" target="_blank"><span>FB粉絲頁</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <!-- /.Navigation -->
	<div id="section-1">
		<div class="container-fluid">
		    <div class="container">
		        <h1>台股投資實戰擂台</h1>
                <h2>第二季</h2>
		    </div>
		</div>
	</div>

<!--
	<div id="section-2">
		<div class="container">
			<div class="content">
				<div class="slider">
					<div v-for="trader in traders">
						<a :href="'?id=' + trader.id">
							<img :src="trader.image" alt="" :title="trader.name" :class="{active: trader.id == id, kaede: id == 0}">
							<span v-text="trader.name"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
-->
	
	<!--選手介紹 過去參賽紀錄-->
	<div id="section-3">    
		<div class="container">
		    <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
                   <div class="kaede-img">
                    <div class="trader-photo" :style="'background-image: url(' + image + ')'">
                    </div>
                   <div class="non-semantic-protector">
                        <span class="ribbon">
                            <strong class="ribbon-content">踢館</strong>
                        </span>
                    </div>
                   </div>              
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    <h4><span v-text="name"></span>
                        <a v-if="facebook" class="btn btn-fb player" :href="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a v-if="interview" class="btn btn-interview" :href="interview">獨家專訪</a>
                    </h4>
                    <p v-html="strategy"></p>
                    <div class="history" v-if="history.length">
                        <div class="row">
                            <h4><span>歷史參賽紀錄</span><span><img src="images/icon_ranking.png" alt=""></span></h4>
                            <div class="history-list col-xs-6">
                                <h6>第一季</h6>
                                <div class="results" v-for="s in history">
                                    <span v-text="s.prize + '獎第 ' + s.rank + ' 名'"></span>
                                    <span v-text="'選手互評平均分：' + s.average"></span>
                                    <span v-text="'投報率：' + s.rate"></span>
                                    <span v-text="'總得分：' + s.score"></span>
                                </div>
                                <span class="more"><a :href="'traders_s1.html?id=' + id">看更多</a></span>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>

		</div>
	</div>
	<div id="section-4">
        <!--資金報酬曲線圖-->
		<div class="container">
			<h2>資金報酬曲線圖</h2>
			<div id="chartdiv" class="stock-chart"></div>
			<div id="chartdiv2" class="stock-chart"></div>
		</div>
	</div>

	<div id="section-5" v-if="reports.length || Object.keys(markets).length">
        <!--賽程動態 交易解說 市場觀察-->
        <div class="container">
            <h2>賽程動態</h2>
            <div class="row expound" v-if="reports.length">
                <h3><span>交易解說</span></h3>
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="expound-list" v-for="r in reports">
                        <span class="date" v-text="r.date"></span>
                        <span class="statement-list"><a @click="src = r.images; title = r.date" data-toggle="modal" data-target="#modal-statement">查看對帳單</a></span>
                        <span class="detail" v-html="r.reason"></span>
                    </div>
                </div>
            </div>
            <div class="row" v-if="markets.length">
                <h3><span>每週市場觀察</span></h3>
                <div class="col-sm-8 col-sm-offset-2" v-for="m in markets">
                    <div class="market-list">
                        <span class="date" v-text="m.date"></span>
                        <p v-html="m.info"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!--交易紀錄-->
	<div id="section-6" v-if="records.length">
		<div class="container">
			<h2>交易紀錄</h2>
			<div class="tab-container">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>日期</th>
								<th>證券名稱</th>
								<th>交易行為</th>
								<th>股數</th>
								<th>單價</th>
								<th>價金</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="record in records">
								<td v-text="record.date"></td>
								<td v-text="record.name"></td>
								<td v-text="record.type"></td>
								<td v-text="record.share"></td>
								<td v-text="'$' + record.price"></td>
								<td v-text="'$' + record.total"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

    <!--來自選手的評價-->
	<div id="section-7-1" v-if="comments5.length">
		<div class="container">
			<h2>來自選手的評價-五月份</h2>
			<div class="col-md-6" v-for="comment in comments">
				<div class="player">
					<img :src="trader(comment.id).image" alt="">
					<span v-text="trader(comment.id).name"></span>
					<span v-text="comment.score + '分'"></span>
				</div>
				<div class="player-evaluation">
					<p v-text="comment.comment"></p>
				</div>
			</div>
		</div>
	</div>

	<div id="section-7-2" v-if="comments6.length">
		<div class="container">
			<h2>來自選手的評價-六月份</h2>
			<div class="col-md-6" v-for="comment in comments4">
				<div class="player">
					<img :src="trader(comment.id).image" alt="">
					<span v-text="trader(comment.id).name"></span>
					<span v-text="comment.score + '分'"></span>
				</div>
				<div class="player-evaluation">
					<p v-text="comment.comment"></p>
				</div>
			</div>
		</div>
	</div>

	<div id="section-8">
		<div class="container">
			<div class="comments-container">
				<div class="fb-comments" data-href="http://www.tozzi.com.tw" data-numposts="5" data-width="100%"></div>
			</div>
		</div>
	</div>

	<div id="modal-statement" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div type="button" class="close" data-dismiss="modal"></div>
				<div class="modal-body">
					<h4 class="modal-title">{{title}} 交易明細</h4>
					<img v-for="s in src" :src="s" :alt="title" :title="title" class="img-responsive">
				</div>
			</div>

		</div>
	</div>

	<footer>
	    <p>Copyright © tozzi.com.tw, 2017</p>
	</footer>
	</div>

	<!--jQuery-->
	<script type="text/javascript" src="js/jquery-2.2.4.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js" ></script>
	<!--script type="text/javascript" src="js/jquery.mobile.custom.min.js"></script-->
	<script type="text/javascript" src="js/slick.min.js" ></script>
	<script type="text/javascript" src="js/script.js" ></script>

<script>

var data = {
  id: 0,
  image: 'https://s3-ap-northeast-1.amazonaws.com/tozzi-img/Kaede-s2.jpg',
  name: 'かえで🍁"',
  strategy: '大盤萬點以上拖泥帶水多時，彷彿欲拒還迎的曖昧情愫，剪不斷，理還亂。鏡花水月疑無路，望穿秋水看不清，莫聽穿林打葉聲，何妨吟嘯且徐行。大盤萬點後宛如猶抱琵琶的怯羞少女，美就美在她的迷茫。既然不願表態，也不用逼她表態，既然看不清，更無須強求看清。<br>\n所以，在大盤多般想像空間，曖昧不明的同時，個股即是王道。窈窕淑女，君子好逑；環肥燕瘦，各有所好。亂世當前，挑幾檔亂中有序的佳人個股，跟前跟後，癡心追求，好女怕纏郎，只要堅持，定有良緣。',
  src: [],
  title: '',
  facebook: '',
  interview: '',
  traders: [{},{},{},{},{},{},{},{},{},{},{},{}],
  records: [{"date":"05/15","name":"聚隆1466","type":"原始持有","share":240,"price":11,"total":2640},{"date":"05/15","name":"中華電2412","type":"原始持有","share":34,"price":105.5,"total":3587},{"date":"05/15","name":"數字 5287","type":"原始持有","share":12384,"price":235.5,"total":2916432},{"date":"05/15","name":"合正5381","type":"原始持有","share":120940,"price":2.9,"total":350726},{"date":"05/15","name":"網家8044","type":"原始持有","share":469,"price":231,"total":108339},{"date":"05/16","name":"數字 5287","type":"賣","share":1000,"price":243,"total":243000,"gain":7500},{"date":"05/19","name":"數字 5287","type":"賣","share":1000,"price":261,"total":261000,"gain":25500},{"date":"05/22","name":"數字 5287","type":"賣","share":1000,"price":274.5,"total":274500,"gain":39000},{"date":"06/14","name":"數字 5287","type":"賣","share":1000,"price":292,"total":292000,"gain":56500}],
  reports: [{"date":"帳戶起始狀態","reason":"註：「力晶」無法交易，市價為0，故不計入。","images":["https://s3-ap-northeast-1.amazonaws.com/tozzi-img/Kaede-0515original.jpg"]},{"date":"05/15-06/16","reason":"","images":["https://s3-ap-northeast-1.amazonaws.com/tozzi-img/Kaede-0515~0614.jpg"]}],
  points: [],
  comments5: [],
  comments6: [],
  price: {},
  history: [],
  markets: [{"date":"6/19~6/23","info":"姐覺得「數字」跟大盤似乎關係不大，管它萬點以上，姐沒在怕的！月K很漂亮應該還有高點，但考慮它應該快除權息了（吧？），有些人應該會為了避>稅而賣，萬一跌破250姐會買些回來，過300姐應該會再賣一些吧⋯夏天到了荷包又要失血了！女人真是麻煩～"}],
};

//data//

var vue = new Vue({el: '#vue', data: data, methods: {
  trader: function (id) {
    for (var i in this.traders) {
      if (this.traders[i].id == id)
        return this.traders[i];
    }
  }
}});
draw(data.points);

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93922946-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
