//color
$primary-color: #FFCE00;
$secondary-color: #030000;


$yellow: #FFCE00;
$white: #fff;
$gray: #666;
$dark-gray: #4A4A4A;
$light-gray: #F7F7F7;
$black: #2A2A32; 
$gold: #b08a08;
$light-gold: #fde689;
$dark-gold: #6E540B;
$rice: #FEFAEF;
$light-rice: #fffffe;
$orange: #FF9500;
$dark-orange: #F57C23;
$brown: #503E33;
$blue: #00BFEB;
$light-bluegreen: #0FD0DB;
$light-green: #25E8C3;
$peach: #FF9662;
$hotpink: #FF4C78;
$red: #b90000;
$dark-peach: #FF726C;

//font style
$xxs-font: .75em;
$xs-font: .8em;
$s-font: .9em;
$m-font: 1em;
$l-font: 1.125em;
$xl-font: 1.25em;
$xxl-font: 1.5em;
$xxxl-font: 1.75em;
$xxxxl-font: 2em;
$xxxxxl-font: 2.5em;
$xxxxxxl-font: 3em;

@mixin full-screen {
//	height: 100%;
	min-height: 100%;
	width: 100%;
}
@mixin clearfix {
	&:after, &:before {
		content: "";
		display: table;
	}
	&:after{
		clear:both;
	}
	*zoom:1;
}
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}
@mixin transparent($color, $alpha) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background-color: transparent;
	background-color: $rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	zoom: 1;
}
@mixin info-font {
	font-size: $s-font;
	line-height: $l-font;
}
@mixin inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	zoom: 1;
}